@font-face {
  font-family: "calibre";
  src: url("../css/fonts/Calibre-Bold.otf");
}
@font-face {
  font-family: "calibre-semibold";
  src: url("../css/fonts/Calibre-Semibold.otf");
}

html,
body {
  font-family: "calibre";
  overflow: hidden;
}

.logo {
  background: url(../img/logo.svg) center;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9999;
}

/* .logo {
  left: 50%;
  position: absolute;
  top: 50%;
  z-index: 9999;
} */

.text-wrapper {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.text {
  color: #fff;
  font-size: 58px;
  font-weight: bold;
  line-height: 58px;
  margin: 0;
  margin-top: 20px;
  text-align: center;
}

.footer {
  align-items: center;
  /* bottom: 15%; */
  bottom: 30px;
  display: flex;
  flex-direction: column;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  z-index: 99999;
}

#mc_embed_signup_scroll {
  display: flex;
  width: 410px;
}

.email {
  background-color: #fff;
  border: none;
  border-radius: 8px;
  font-family: "calibre-semibold";
  font-size: 19px;
  height: 22px;
  line-height: 23px;
  padding: 14px 20px;
  width: 410px;
}

.button {
  border: 0;
  border-radius: 8px;
  font-family: "calibre-semibold";
  font-size: 19px;
  line-height: 23px;
  margin-left: 20px;
}
