@font-face {
  font-family: "calibre";
  src: url("../css/fonts/Calibre-Bold.otf");
}
@font-face {
  font-family: "calibre-semibold";
  src: url("../css/fonts/Calibre-Semibold.otf");
}

html,
body {
  font-family: "calibre";
  overflow: hidden;
}

.logo {
  background: url(../img/logo.svg);
  background-position: center center;
  /* background-position: center -110px; */
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9999;
}

/* .logo {
  left: 50%;
  position: absolute;
  top: 50%;
  z-index: 9999;
} */

.text-wrapper {
  /* background-color: #f00; */
  bottom: 80px;
  height: 122px;
  left: 30px;
  opacity: 0;
  /* padding: 0 10px; */
  position: absolute;
  right: 30px;
  /* top: 0; */
}

.slide-entry.active .text-wrapper {
  /* animation-delay: 4500ms;
  animation-duration: 500ms; */
  /* animation-delay: 1000ms; */
  animation-duration: 5000ms;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: fadeInOut;
  animation-timing-function: ease-in-out;
}

.text {
  color: #fff;
  font-size: 41px;
  font-weight: bold;
  line-height: 37px;
  margin: 0;
  text-align: center;
  /* text-shadow: 0 0 2px rgba(0, 0, 0, 0.5); */
  filter: drop-shadow(1px 1px 18px rgba(0, 0, 0, 0.5));
  /* drop-shadow(-1px -1px 2px rgba(0, 0, 0, 0.5)); */
}

.footer {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  z-index: 99999;
}

.form-wrapper {
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  height: 26px;
  margin: 0 30px 10px;
  padding: 5px;
}

.email {
  border: none;
  font-family: "calibre-semibold";
  font-size: 17px;
  height: 26px;
  line-height: 26px;
  padding: 0 5px;
}

.email::placeholder {
  color: #b5b5b5;
}

.button {
  background-color: #000;
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-family: "calibre-semibold";
  font-size: 17px;
  line-height: 26px;
  height: 26px;
  margin-left: 5px;
  padding: 0 15px;
}

.ml {
  color: #fff;
  text-decoration: none;
  /* position: absolute;
  bottom: 10px;
  z-index: 9999; */
  margin-bottom: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 99999;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px;
  /* padding: 20px; */
  background: #fff;
  border-radius: 5px;
  width: 80%;
  position: relative;
  transition: all 5s ease-in-out;
  max-height: calc(100vh - 140px);
}

.popup h2 {
  margin: 0;
  padding: 20px;
  color: #333;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 20px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  line-height: 15px;
}

.popup .content {
  padding: 0 20px 20px 20px;
  max-height: calc(100vh - 140px - 53px - 40px);
  overflow-y: scroll;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (min-width: 721px) {
  /* @media (min-width: 568px) { */
  .footer {
    bottom: 20px;
  }

  .text-wrapper {
    height: 450px;
    /* left: 30px;
    right: 949px; */
    /* top: 160px; */
  }

  .text {
    display: flex;
    font-size: 58px;
    line-height: 55px;
    position: absolute;
  }
}

@media (hover: none) and (orientation: landscape) and (max-height: 420px) {
  .footer {
    bottom: 0;
  }

  .text {
    font-size: 41px;
    line-height: 37px;
    margin-top: 5px;
  }
}
